#terminal {
  position: relative;
  color: white;
  background: black;
  height: 250px;
  width: 350px;
  overflow-y: scroll;
}

#terminal-input {
  position: relative;
  color: white;
  width: 350px;
  background: black;
}

.ssh {
  color: magenta;
}
