#terminal {
  position: relative;
  color: white;
  background: black;
  height: 250px;
  width: 800px;
  overflow-y: scroll;
}

#terminal-input {
  position: absolute;;
  color: white;
  width: 98.5%;
  background: black;
  bottom: 0px;
}

.ssh {
  color: magenta;
}
/*#results {
  color: white;
}*/
